#posicionamento {
  padding-top: 20%;
  padding-left: 10%;
  margin-bottom: 20%;
}

#espacoPreco {
  padding-top: 10%;
  padding-left: 20%;
  background-color:green;
  overflow: visible;
  position: absolute
}
