#posicionamento {
  padding-top: 20%;
  padding-left: 10%;
  margin-bottom: 20%;
}

#espacoPreco {
 


//padding-top: 5%;

padding: 5% 20%;
text-align: center;
width: 100%;
  background-color:green;
  position: fixed;
  z-index: 2;
  bottom: 0px;

}
